<% content_for(:title) {@publisher.publisher_name} %>

<h1 class="title is-2"><%= @publisher.publisher_name %></h1>
<p class="mb-5"><em>
Printed <%= @publisher.books.count %> books on the list
</em></p>

<div class="content">
<ul>
  <% @publisher.books.each do |books| %>
    <li><%= link_to books.book_name, books %></li>
  <% end %>
</ul>
</div>