<h1>List of Books</h1>

<ol>
<% @books.each do |book|%>
  <li>
    <%= link_to book.book_name, book %> published by: <%= link_to book.publisher.publisher_name, book.publisher %>
    <% end %>
  </li>
</ol>
